@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: 'Red Hat Display';
  src: local('RedHatDisplay'), url(./fonts/RedHatDisplay.ttf) format('truetype');}

.LoginContainer {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100vh;
  background: linear-gradient(180deg, rgba(219, 0, 255, 0.3) 44.27%, rgba(251, 255, 52, 0.273) 100%), linear-gradient(180deg, #7ADFFF 0%, rgba(239, 133, 178, 0.59) 100%);
}

.Lyza{
  font-family: Red Hat Display;
  font-weight: 300;
  font-size: 9rem;
  line-height: 180px;
  text-align: center;
  letter-spacing: 0.05em;
}

.LyzaSubtitle{
  font-family: Red Hat Display;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 41px;
  text-align: center;
  letter-spacing: 0.07em;
}

.LoginButton{
  background-color: black;
  border-radius: 8px;
  padding: 4px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.Spotify-logo {
  height: 12vh;
}
